/*==== Header ====*/

header {
    height: 100vh;
}

.hero-text-box {
    color: #fff;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.heading-primary {
    font-size: 6rem;
}

.hero-text-box span {
    color: #e0006e;
}

.header-button {
    font-size: 2rem;
    margin-top: 3rem;
}

/*==== Headings and Paragraphs ====*/
.heading-secondary {
    font-size: 3.6rem;
    font-weight: 700;
}

.heading-secondary::after {
    display: block;
    height: .2rem;
    background-color: #e0006e;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.heading-tertiary {
    font-size: 3rem;
}

.paragraph {
    font-size: 2rem;
}

/*==== Buttons ====*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 1rem 3rem;
    text-decoration: none;
    border-radius:10rem;
    -webkit-border-radius:10rem;
    -moz-border-radius:10rem;
    -ms-border-radius:10rem;
    -o-border-radius:10rem;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, border 0.3s, color 0.3s;
    -ms-transition: background-color 0.3s, border 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #22c9f6;
    border: .1rem solid #22c9f6;
    color: #fff;
    margin-right: 1.5rem;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: .1rem solid #22c9f6;
    color: #22c9f6;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #22c9f6;
}

.btn-full:hover,
.btn-full:active {
    border: .1rem solid #22c9f6;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: .1rem solid #22c9f6;
    color: #fff;
}

/*==== Images ====*/
.project-box {
    position: relative;
    width: 100%;
    height: 30rem;
    border: .1rem solid #000;
    overflow: hidden;
}

.project-title {
    position: absolute;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.project-description {
    position: absolute;
    text-align: center;
    font-size: 1.6rem;
    color: #777;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.btn-project:link,
.btn-project:visited {
    font-size: 1.6rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    display: inline-block;
    padding: 1rem 3rem;
    text-decoration: none;
    border: .1rem solid #000;
    color: #000;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: border 0.3s, color 0.3s;
    -webkit-transition: border 0.3s, color 0.3s;
    -moz-transition: border 0.3s, color 0.3s;
    -ms-transition: border 0.3s, color 0.3s;
    -o-transition: border 0.3s, color 0.3s;
}

.btn-project:hover,
.btn-project:active {
    border: .1rem solid #22c9f6;
    color: #22c9f6;
}

/*==== Colors ====*/
.bg-grey {
    background-color: #f4f4f4;
}

.bg-dark-blue {
    background-color: #262834;
}
