<header class="header">
  <div class="bg-video">
    <video class="bg-video__content" autoplay loop muted>
      <source src="img/video.mp4" type="video/mp4" />
      <source src="img/video.webm" type="video/webm" />
      Your browser is not supported.
    </video>
  </div>

  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Chloe Liang</span>
      <span class="heading-primary--sub">Full Stack Developer</span>
    </h1>

    <a class="btn btn--white btn--animated" href="#portfolio">Find out more</a>
  </div>
</header>
